body {

   background-color: black;
   margin: 0%;
   font-family: Arial, Helvetica, sans-serif;
   color: blue;


}

.container{

width: 80%;
max-width: 900px;

text-align: center;

}

.info p {
    font-size: 18px;
}

.label{
    font-weight:bold;
    color:rgb(0, 0, 255);
    -webkit-text-stroke: 1px black;
    font-size: 20px;


    background-color: rgb(130, 133, 160);
    padding: 2px 6px;
    border-radius: 4px;

    border-bottom: 2px solid white;

}


hr{

    width: 100%;
    border: none;
    height: 2px;
    background-color: beige;
    margin: 25px 0;

}


h1, h2{
    color: blue; 
    font-weight:bold;
 
    -webkit-text-stroke: 1px black;
    border-bottom: 1px solid beige;
    padding-bottom: 5px;
    margin-bottom: 15px;
    

}

.foto{

    width: 300px;
    height: 250;;
    margin: 20px auto;
    display: block;
    border-radius: 10px;
    border: 3px solid blue
}

.info p{

    font-size: 18px;
}



ul li{

    font-size: 18px;
    margin: 5px 0;
}

.redes a {

    display: inline-block;
    text-decoration: none;
    color: rgb(21, 9, 252);
    background-color: rgb(96, 94, 102);
    padding: 10px 15px;
    margin: 8px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.redes a:hover {

    background-color: rgb(79, 1, 1);
}

.Video{
    margin: top 20px;
}